{{ define "style" }}
  // This is COMPELTELY unnecessary, but just to show that you can in theory
  // even template your CSS for the page...
  {{ if .Data.Completed }}
  .completed {
    font-weight: bold;
  }
  {{ end }}
{{ end }}

{{ define "body" }}
  <h1>{{ .Data.Description }}</h1>
  <p>Due: {{ .Data.Due }}</p>
  {{ if .Data.Completed }}
    <p class="completed">All done!  Good job {{.Context.Name}}!</p>
  {{ else }}
    <button id="complete-button" class="btn btn-primary" type="button">Complete</button>
  {{ end}}
{{ end }}

{{ define "script" }}
  {{ if not .Data.Completed }}
  $('#complete-button').on('click', function() {
    // We can inject values here easily too
    $.post("/complete/{{ .Data.ID }}", function(data, status) {
      if (status == "success") {
        document.location.href = "/task/{{ .Data.ID }}";
      } else {
        console.log(status);
      }
    });
  });
  {{ end }}
{{ end }}
